.actions {
  display: flex;
  margin: 1.25rem 0 0;
}

.actions > button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.actions > button span {
  margin-left: 0.875rem;
}

.actions__favoriteButton {
  margin-right: 0.875rem;
  font-size: 24px;
  border-radius: 999px;
  width: 54px;
  min-width: 54px;
  background-color: var(--accent-primary);
}