.details__banner {
  background-position: 50% 35%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  margin-top: -116px; /* header height */
  background-color: rgba(0, 0, 0, 0.15);
}

.details__bannerShadow {
  /* background: linear-gradient(0deg, rgba(6, 13, 34, 0) 25%, rgba(6, 13, 34, 0.6)); */
  background: linear-gradient(50deg, rgba(236, 238, 247, 0) 0%, rgba(236, 238, 247, 1));
  height: 100%;
  width: 100%;
  /* backdrop-filter: blur(20px); */
}

.details__container {
  display: flex;
  position: relative;
  padding: 2rem var(--x-axis-spacing);
  z-index: 10;
  height: 100%;
  /* backdrop-filter: blur(20px); */
  /* margin-top: -50px; */
  /* border-top-left-radius: 40px; */
  /* border-top-right-radius: 40px; */
}

.details__left {
  flex: 0.3;
  margin-top: -250px;
}

.details__poster {
  width: 100%;
  object-fit: cover;
  border-radius: var(--border-radius);
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.15);
}

.details__right {
  flex: 0.7;
  position: relative;
  overflow-x: hidden;
  /* width: calc(100% - 360px); */
  padding: 0 0 0 1.875rem;
}

.details__rightHeader {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.25rem;
}

.details__rightHeader > h1 {
  font-weight: 800;
  font-size: 40px;
  color: var(--primary);
  /* -webkit-text-fill-color: white;  */
  /* -webkit-text-stroke-width: 2px; */
  /* -webkit-text-stroke-color: var(--primary); */
}

.details__right > p {
  font-weight: 600;
  padding: 1.25rem 0;
  margin-bottom: 1.25rem;
}

.details__actions {
  display: flex;
  margin: 1.25rem 0 0;
}

.details__actions > button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.details__actions > button span {
  margin-left: 0.875rem;
}

.details__tags {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 1rem 0 0;
}

.details__tag {
  font-weight: 500;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  padding: 0.35rem 0.875rem;
  font-size: 12px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.05);
}

.details__dataContainer {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: var(--border-radius);
}

.details__data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 0.5;
  padding: 0.875rem 1.25rem;
}

.details__data:first-child {
  padding-top: 1.25rem;
}

.details__data:last-child {
  padding-bottom: 1.25rem;
}

.details__data h5,
.details__data p {
  padding: 0;
}

.details__data--active {
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  background-color: var(--action-light) !important;
}

.details__data--active h5,
.details__data--active p {
  color: var(--action);
}

.details__blockContainer {
  display: grid;
  grid-row-gap: 0.875rem;
  grid-column-gap: 0.875rem;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  padding: 0.875rem 0;
  margin-bottom: 1.25rem;
}

.details__block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: var(--border-radius);
}

.details__blockLeft {
  flex: 0.5;
  flex-grow: 1;
  display: flex;
  justify-content: flex-start;
}

.details__blockRight {
  flex: 0.5;
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
}

.details__blockImageContainer {
  max-height: 80px;
  max-width: 80px;
}

.details__blockImageContainer > img {
  object-fit: cover;
  height: 80px;
  width: 80px;
}

.details__blockLeft > .details__blockImageContainer > img {
  border-top-left-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
}

.details__blockRight > .details__blockImageContainer > img {
  border-top-right-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}

.details__blockBody {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.875rem 1.25rem;
}

.details__blockBody > p {
  padding: 0;
}

.details__blockLeft > .details__blockBody {
  text-align: left;
}

.details__blockRight > .details__blockBody {
  text-align: right;
}

.details__iframeWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
  margin-top: 0.875rem;
}

.details__iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

@media (prefers-color-scheme: dark) {
  .details__rightHeader > h1 {
    color: white;
    /* -webkit-text-fill-color: var(--primary); */
    /* -webkit-text-stroke-color: white; */
  }

  .details__bannerShadow {
    background: linear-gradient(50deg, rgba(6, 13, 34, 0) 0%, rgba(6, 13, 34, 1));
  }

  .details__dataContainer,
  .details__block {
    background-color: rgba(0, 0, 0, 0.15);
  }

  .details__tag {
    background-color: rgba(0, 0, 0, 0.25);
  }
}

@media screen and (max-width: 960px) {
  .details__container {
    flex-direction: column;
  }

  .details__left {
    margin-bottom: 1.25rem;
  }

  .details__right {
    padding-left: 0;
  }
}
