.login {
  display: flex;
  min-height: 100vh;
}

.login h1 {
  font-size: 28px;
  text-align: center;
  font-weight: 800;
}

.login p > a {
  color: var(--secondary);
  font-weight: 600;
}

.login__left {
  flex: 0.5;
}

.login__header {
  height: 80px;
  width: 100%;
  padding: 1.25rem 4rem;
}

.login__header > a {
  display: flex;
  align-items: center;
  /* margin-left: 1.5rem; */
  font-size: 28px;
  font-weight: 800;
  color: var(--primary);
}

.login__header > a > span {
  color: var(--action);
  /* font-size: 40px; */
}

.login__container {
  height: calc(100% - 80px);
  display: grid;
  place-items: center;
}

.login__formContainer {
  width: 100%;
  max-width: 640px;
  padding: 2.5rem;
}

.login__right {
  flex: 0.5;
  background-image: url('../images/maiden.jpg');
  background-position: center;
  background-size: cover;
}

.login__form {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.login__form > div {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.login__form label {
  align-items: center;
  color: rgba(55, 65, 81, 1);
}

.login__withGoogle,
.login__withApple {
  cursor: pointer;
  width: 100%;
  color: rgba(17, 24, 39, 1);
  padding: 0.75rem 1rem;
  margin-bottom: 0.875rem;
  font-weight: 600;
  border: 1px solid rgba(209, 213, 219, 1);
  border-radius: var(--border-radius);
  background-color: white;
  transition: all 0.3s;
}

.login__withGoogle:hover,
.login__withApple:hover {
  background-color: #f3f4f6;
}

.login__withApple > div,
.login__withGoogle > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login__withApple > div > svg,
.login__withGoogle > div > svg {
  width: 1.5rem;
}

.login__withApple > div > span,
.login__withGoogle > div > span {
  margin-left: 0.875rem;
}

@media (prefers-color-scheme: dark) {

  .login__header > a {
    color: white;
  }

  .login__container, .login__header {
    background-color: rgba(16, 18, 27, 40%);
  }

  .login__form label {
    color: white;
  }

  .login__withGoogle,
  .login__withApple {
    background-color: black;
    border: none;
    color: white;
  }

  .login__withApple svg path {
    fill: white;
  }

  .login__withGoogle:hover,
  .login__withApple:hover {
    background-color: #222;
  }
}
