.pagination {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 1.25rem 0;
}

.pagination__container {
  display: flex;
  list-style-type: none;
}
.pagination__container .pagination__item {
  padding: 0 12px;
  height: 32px;
  text-align: center;
  margin: auto 4px;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  align-items: center;
  letter-spacing: 0.01071em;
  border-radius: 16px;
  line-height: 1.43;
  font-size: 13px;
  min-width: 32px;
}
.pagination__container .pagination__item.dots:hover {
  background-color: transparent;
  cursor: default;
}
.pagination__container .pagination__item:hover {
  background-color: rgba(0, 0, 0, 0.04);
  cursor: pointer;
}
.pagination__container .pagination__item.selected {
  background-color: rgba(0, 0, 0, 0.08);
}
.pagination__container .pagination__item .arrow::before {
  position: relative;
  content: '';
 /* By using an em scale, the arrows will size with the font */
  display: flex;
  width: 0.4em;
  height: 0.4em;
  border-right: 0.12em solid rgba(0, 0, 0, 0.87);
  border-top: 0.12em solid rgba(0, 0, 0, 0.87);
}
.pagination__container .pagination__item .arrow.left {
  transform: rotate(-135deg) translate(-50%);
}
.pagination__container .pagination__item .arrow.right {
  transform: rotate(45deg);
}
.pagination__container .pagination__item.disabled {
  pointer-events: none;
}
.pagination__container .pagination__item.disabled .arrow::before {
  border-right: 0.12em solid rgba(0, 0, 0, 0.43);
  border-top: 0.12em solid rgba(0, 0, 0, 0.43);
}
.pagination__container .pagination__item.disabled:hover {
  background-color: transparent;
  cursor: default;
}

@media (prefers-color-scheme: dark) {
  .pagination__container .pagination__item {
    color: white;
  }

  .pagination__container .pagination__item.disabled .arrow::before,
  .pagination__container .pagination__item .arrow::before {
    border-color: rgba(255, 255, 255, 0.43);
  }

  .pagination__container .pagination__item:hover {
    background-color: rgba(255, 255, 255, 0.04);
  }
  .pagination__container .pagination__item.selected {
    background-color: rgba(255, 255, 255, 0.08);
  }
}
