:root {
  --primary: #0b1621;
  --secondary: rgb(116, 136, 153);
  --accent-primary: #f345ae;
  --accent-primary-light: rgba(246, 76, 186, 0.15);
  --accent-secondary: #9b50f4;
  --success: #26AE7F;
  --success-light: rgba(38, 174, 127, 0.15);
  --action: #6366f1;
  --action-light: rgba(99, 102, 241, 0.15);
  --action-secondary: #ff5657;
  /* Border radius of all block elements */
  --border-radius: 20px;
  /* Margins and padding of left and right content spacing */
  --x-axis-spacing: 2rem;
  --y-axis-spacing: 1.25rem;
  --left-spacing: 2rem;
  --right-spacing: 2rem;
}

.app {
  position: relative;
  min-height: 100vh;
  color: var(--secondary);
  background: rgb(237, 238, 247);
  background: linear-gradient(-90deg, rgba(237, 238, 247, 1) 65%, rgba(240, 225, 233, 1) 100%);
}

.app__container {
  display: flex;
}

.app__body {
  flex: 0.82;
  /* height: calc(100vh - 80px); */
  height: 100vh;
  width: 100%;
  overflow: hidden;
  overflow-y: auto;
}

hr {
  width: 100%;
  margin: 1.5rem 0;
  border-color: rgba(209, 213, 219, 1);
  border-top-width: 1px;
}

p {
  font-size: 14px;
  color: var(--secondary);
  line-height: 1.5;
  font-weight: 500;
  padding: 0.25rem 0;
}

a {
  text-decoration: none;
  transition: all 0.3s;
}

a * {
  transition: all 0.3s;
}

a:hover {
  color: var(--action) !important;
}

a.logout:hover {
  color: var(--action-secondary) !important;
}

a.logout:hover div {
  background-color: var(--action-secondary) !important;
}

a.active {
  color: var(--action) !important;
}

a.active span {
  color: var(--primary);
}

a.active svg {
  fill: white;
}

a.active div {
  background-color: var(--action) !important;
}

button {
  cursor: pointer;
  width: 100%;
  height: 54px;
  color: white;
  font-weight: 800;
  border: none;
  border-radius: var(--border-radius);
  color: white;
  background-color: var(--action);
  transition: all 0.3s;
}

button[type='submit'] {
  margin-top: 1.875rem;
}

button:hover {
  opacity: 0.65;
}

input {
  margin-top: 0.5rem;
  border-radius: 0.5rem;
  font-size: 14px;
  padding: 1rem;
  width: 100%;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  background-color: rgba(243, 244, 246, 1);
  transition-property: box-shadow;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

input:focus {
  outline: none;
  box-shadow: 0 0 0 4px rgba(59, 130, 246, 0.5);
}

select:focus,
textarea:focus,
button:focus {
  outline: none;
}

@media (prefers-color-scheme: dark) {
  .app {
    background: var(--primary);
    color: white;
  }

  hr {
    border-color: rgba(209, 213, 219, 0.15);
  }

  input {
    background-color: rgba(243, 244, 246, 0.15);
    color: white;
  }

  a.active span {
    color: white;
  }
}
