.results {
  height: calc(100vh - 116px); /* 100vh - header height */
  overflow-y: auto;
  padding: 0 var(--x-axis-spacing);
}

.results__container {
  display: grid;
  grid-row-gap: 1.25rem;
  grid-column-gap: 1.25rem;
  justify-items: center;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  padding-top: 0.875rem;
}

.results__item {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  padding: 0.5rem 0.875rem;
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0s;
}

.results__item:hover {
  transform: scale(1.05) translateZ(0px);
}

.results__item:hover .results__itemLabel {
  color: var(--action);
}

.results__item > img {
  position: relative;
  height: 300px;
  width: 200px;
  object-fit: cover;
  border-radius: var(--border-radius);
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.15);
}

.results__itemLabel {
  display: -webkit-box;
  color: rgb(116,136,153);
  font-size: 14px;
  padding-top: 0.625rem;
  font-weight: 600;
  overflow: hidden;
  transition: color .2s ease;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}